<div class="form-container">
    <h2>Device Usage Form</h2>
    <form (submit)='handleSubmit()'>
      <div class="form-group">
        <label for="mobileName">Mobile Name</label>
        <input
          type="text"
          id="mobileName"
          name="mobileName"
          placeholder="Enter Mobile Name"
        />
      </div>
  
      <div class="form-group">
        <label for="mobileUsageTime">Mobile Usage Time (Hours)</label>
        <input
          type="number"
          id="mobileUsageTime"
          name="mobileUsageTime"
          placeholder="Enter Mobile Usage Time"
        />
      </div>
  
      <div class="form-group">
        <label for="laptopName">Laptop Name</label>
        <input
          type="text"
          id="laptopName"
          name="laptopName"
          placeholder="Enter Laptop Name"
        />
      </div>
  
      <div class="form-group">
        <label for="laptopUsageTime">Laptop Usage Time (Hours)</label>
        <input
          type="number"
          id="laptopUsageTime"
          name="laptopUsageTime"
          placeholder="Enter Laptop Usage Time"
        />
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </div>
  